%html
	%head 
		%title
			Tympanum
		%link(rel='stylesheet' type='text/css' href='/main.css')
	%body
		.titlebar
			.searchbox
				%form(method='get' action='/search')
					%input(type='text' name='query')
					%input(type='submit' value='Search')
			%span.titlecopy
				Tympanum
			%a.titlecopy(href='/') home 
			|
			%a.titlecopy(href='/posts/new') submit 
			|
			%a.titlecopy(href='/rss') rss	

		.content
			= yield

