%html
	%head 
		%title
			Tympanum
		%link(rel='stylesheet' type='text/css' href='/main.css')
	%body
		.titlebar
			.searchbox
				%form(method='get' action='/search')
					%input(type='text' name='query')
					%input(type='submit' value='Search')
			%span.titlecopy
				tympanum
			&nbsp;	
			&nbsp;	
			&nbsp;	
			&nbsp;	
			%a.titlecopy(href='/') 
			%b home 
			&nbsp;	
			%a.titlecopy(href='/posts/new') 
			%b submit 
			&nbsp;	
			%a.titlecopy(href='/rss') 
			%b rss	

		.content
			= yield

