%html
	%head 
		%title
			Tympanum
		%link(rel='stylesheet' type='text/css' href='/main.css')
	%body
		.titlebar
			%span.titlecopy
				Tympanum
			%a.titlecopy(href='/posts/new') submit 
			|
			%a.titlecopy(href='/rss') rss	

		.content
			= yield

