body
{
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 10pt;
	margin-top: 2px;
}

.byline
{
	font-size: 8pt;
	color:gray;
}

.titlebar
{
	color: #CCCCFF;
	width:100%;
}

.titlecopy
{
	font-size:35px;
	margin-left: 5px;
}

.searchbox
{
	float:right;
	margin-left: 5px;
	margin-top: 10px;
	margin-right: 5px;
}

a
{
	text-decoration:none;
	font-family: Verdana, Arial, Sans-Serif;
}

a.titlecopy
{
	color: orange;
	font-size : 12pt;
}

.content
{
	margin-top:20px;
	margin-left:5px;
}

.previousnext
{
	margin-top:30px;
	margin-left: 5px;
}

.previous
{
	margin-right: 30px;
}
.next
{
	margin-left: 30px;
}

