body
{
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 10pt;
	margin-top: 2px;
}

table
{
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 10pt;
	margin-top: 2px;
}

.byline
{
	font-size: 7pt;
	color:gray;
}

.titlebar
{
	margin-top:10px;
	color: #CCCCFF;
	width:100%;
}

.titlecopy
{
	font-size: 28pt;
	margin-left: 5px;
}

.searchbox
{
	float:right;
	margin-left: 5px;
	margin-top: 10px;
	margin-right: 5px;
}

a
{
	text-decoration:none;
	font-family: Verdana, Arial, Sans-Serif;
	font-size:10pt;
	font-color:black;
}

a.titlecopy
{
	color: orange;
	font-size : 12pt;
}

.content
{
	margin-top:20px;
	margin-left:5px;
	font-size:10pt;
}

.previousnext
{
	margin-top:30px;
	margin-left: 0px;
}

.previous
{
	margin-left: 5px;
}
.next
{
	margin-left: 20px;
}

